.keyward-container {
    
    
    text-align: center;
    
}
.keyward-label input[type="checkbox"] {
    display: none;
    box-sizing: content-box;
    width: auto;
    height: auto;
}

.keyward-label input[type="checkbox"] + span {
    display: inline-block;
    padding: 5px 2px;
    border: 30px solid white;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    width: 60px;
    border-radius: 50px;
    
}

.keyward-label input[type="checkbox"]:checked + span {
    background-color: skyblue;
    color: #ffffff;
}